/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Courie", sans-serif);
  background-color: var(--bg-color, #fff);
  color: var(--accent-color, #000);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: clamp(350px, 100%, 697px);
  margin-top: 102px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
  padding-top: 136px;
  padding-bottom: 25px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  font-family: var(--accent-font, "PressStrart2P");
  font-style: normal;
  font-variation-settings: "wght" var(--text-font-weight);
  line-height: normal;
  text-transform: uppercase;
}

.header-title {
  color: var(--accent-color, #000);
  font-family: var(--accent-font, "PressStrart2P");
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  font-style: normal;
  font-variation-settings: "wght" var(--text-font-weight);
  line-height: normal;
  text-transform: uppercase;
}

@media (width<=375px) {

  .header {
    padding-top: 120px;
  }

  .logo {
    font-size: 49px;
  }

  .header-title {
    font-size: 14px;
  }
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 18px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background-color: transparent;
  color: var(--accent-color, #000);
  font-family: var(--accent-font, "PressStrart2P");
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "wght" var(--text-font-weight);
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s ease;
}

.theme-menu__button::after {
  content: " ";
  display: block;
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  background-color: var(--accent-color,#000);
  transition: width 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  color: var(--accent-color, #000);
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: 0.3s ease;
}

.theme-menu__button:disabled::before {
  content:"▶";
  opacity: 0.6;
  position: absolute;
  pointer-events: none;
  animation: selected ease-in-out 0.5s infinite alternate-reverse;
  left: -20px;
}

.main {
  width: clamp(350px, 100%, 697px);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
  overflow: hidden;
}

.card-title {
  align-items: flex-start;
  color: var(--accent-color, #000);
  font-family: var(--main-font, "Courie", sans-serif);
  font-size: var(--font-size, 18px);
  font-style: normal;
  font-weight: var(--title-font-weight, 700);
  line-height: normal;
  padding: 5px 10px;
}

.image-container {
  position: relative;
  z-index: 0;
  border-top: 2px solid var(--accent-color, #000);
  border-bottom: 2px solid var(--accent-color, #000);
  width: clamp(370px, 100%, 696px);
}

.watermark {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  color: var(--accent-color, #000);
  text-shadow: 1px 0 0 var(--watermark-color, #FFF);
  font-family: var(--accent-font, "PressStrart2P");
  font-size: 14px;
  font-style: normal;
  font-weight: var(--text-font-weight, 400);
  line-height: normal;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--watermark-color, #FFF)) or (-webkit-text-stroke: 1px var(--watermark-color, #FFF))) {
.watermark {
  -webkit-text-stroke: 1px var(--watermark-color, #FFF);
  text-stroke: 1px var(--watermark-color, #FFF);
  text-shadow: none;
  }
}

@media (width<=375px) {

  .watermark {
    top: 23px;
    right: 11px;
  }
}

.image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  object-position: center
}

.filter-bright {
  filter: brightness(30%);
}

.filter-inver {
  filter: invert(70%);
}

.filter-rotate {
  filter: hue-rotate(0.3turn);
}

.filter-bw {
  filter: grayscale(70%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-opacity {
  filter: opacity(80%);
}

.filter-br-cont{
  filter: contrast(87%), brightness(64%);
}

.card-text {
  display: flex;
  padding: 25px;
  flex-direction: column;
  font-family: var(--main-font, "Courie", sans-serif);
  font-size: var(--font-size, 18px);
  font-style: normal;
  font-weight: var(--text-font-weight, 400);
  line-height: 21px;
  gap: 28px;
}

@media (width<=375px){
  .card-text {
    padding: 25px 25px 22px 25px;
  }
}

.button {
  background: var(--bg-color, #fff);
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}

.like-container {
  display: flex;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 22px;
  background: transparent;
  justify-content: flex-end;
  gap: 4px;
}

.card__icon-button {
  outline: none;
  border: 2px solid transparent;
  align-self: end;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

.sparks {
  opacity:0;
}

.card__like-button {
  display: flex;
  width: 130px;
  padding: 10px 17px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
}

.save-like {
  position: relative;
  transition: box-shadow ease-in-out 0.5s;
}

.save-like::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0;
  width: 100%;
  background-color: var(--bn-color, #fff);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform ease-in-out 0.5s;
  mix-blend-mode: difference;
}

.save-like:hover::before {
  transform: scaleX(1);
}

.save-like:focus {
  outline: none;
}

.save-like:focus-visible {
  box-shadow: 2px 2px 0px  var(--accent-color, #000);
}

.button__text {
  color: var(--accent-color, #000);
  font-family: var(--accent-font, "PressStrart2P");
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "wght" var(--text-font-weight);
  line-height: 90%;
}

.save {
  display: flex;
  justify-content: center;
  margin-bottom: clamp(6.375rem, 0.282vw + 6.309rem, 6.563rem);
}

.card__save-button {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
  gap: 12px; 
}

@media (width <= 375px) {
.card__save-button {
    flex-direction: column;
  }
}

.svg-button {
  width: 20px;
  height: auto;
}

@media (width<=375px){
  .svg-button {
    width: 25px;
  }
}

.dialog[open] {
  width: 357px;
  padding: 30px;
  font-family: var(--accent-font, "PressStrart2P");
  color: var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 2px solid var(--accent-color, #000);
}

.dialog-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.svg-dialog {
  width: 85px;
  fill: var(--accent-color, #000);
}

.dialog-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

form .button {
  width: 100%;
  border: 2px solid var(--accent-color, #000);
  padding: 10px 17px;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}